body {
  font-family: "Lexend", sans-serif;
  margin: auto;
  width: 100%;
  background-image: url('https://i.postimg.cc/NG1zTDsr/Your-paragraph-text.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid grey;
}
.navbar a {
  text-decoration: none;
  font-size: 15px;
  color: #0F1568;
  padding: 10px;
  display: block;
}
header {
  background-color: #8b2c2c;
  padding: 16px;
  box-shadow: 10px 5px 10px #aaaaaa;
}
header img {
  width: 190px;
}
header a {
  text-decoration: none;
  font-size: 15px;
  color: white;
  padding: 12px;
  display: flex;
}
header a:hover {
  color: #f5e6cc;
  font-size: 18px;
  transform: translateY(-10px);
  z-index: 2;
  transition: all 0.4s;
  position: relative;
}
.navbar a:hover {
  font-size: 18px;
  transform: translateY(-10px);
  z-index: 2;
  transition: all 0.4s;
  position: relative;
  color: black;
}
.desktop-links {
  display: flex;
  gap: 10px;
}
.desktop-links a {
  color: white;
}
.phone-dropdown {
  margin-right: 115px;
  display: none;
}
.phone-dropdown:hover .dropdown-menu{
  display: block;
}
.phone-dropdown .dropdown-menu{
  width: 100%;
}
h3 {
  margin-top: 150px;
  font-size: 40px;
}
h1 {
  font-family: "Stoke", serif;
  font-size: 220px;
}
footer {
  background-color: #8b2c2c;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
}
footer a, p{
  color: white;
}
footer a:hover{
  font-size: 18px;
  transform: translateY(-10px);
  z-index: 2;
  transition: all 0.4s;
  position: relative;
  color: white;
}
@media (max-width: 1024px) {
   .desktop-links{
        display: none;
    }
   .phone-dropdown {
      display: block;
    }
}
body {
  font-family: "Lexend", sans-serif;
  background-color: #A6754B;
  margin: 0;
  padding: 0;
}

.page-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 2.2em;
}
.location-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px; 
}
.location-card {
  text-decoration: none;
  color: inherit;
  background-color: #BF8665;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.location-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}
.location-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}
.place {
  padding: 15px;
}
.place h2 {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 5px;
  color: #40342A ;
}
.place {
  font-weight: 700;
  color: white;
  font-size: 1.1em;
}